<h1>Artist Import</h1>
<br>
<%= image_tag current_user.avatar %>
<% if current_user.user_accounts.find_by(provider: 'facebook')  || current_user.provider == "facebook" %>
    <h4>Facebook linked!</h4>
<% else %>
    <%#= link_to 'Facebook', '/auth/facebook'%>
     <a href="/auth/facebook" id="sign_in"><img src="http://2.bp.blogspot.com/-M_AWtMw64HI/Ud9gdzCUNBI/AAAAAAAAAVM/EExpNNQMFI4/s1600/button1.png" style="height:35px;"></a>
<% end %>

<br>

<% if current_user.user_accounts.find_by(provider: 'spotify') %>
    <h4>Spotify linked!</h4>
<% else %>
    <%= link_to 'Spotify', '/auth/spotify' %>
<% end %>

<br>

<% if current_user.user_accounts.find_by(provider: 'rdio') %>
    <h4>Rdio linked!</h4>
<% else %>
    <%= form_for @rdio_email do |f| %>
        <label>Rdio</label><br>
        <%= f.text_field :email, placeholder: "Rdio email" %>
        <%= f.hidden_field :provider, value: 'rdio' %>
        <%= f.submit 'Import' %>
    <% end %>
<% end %>

<br>

<% if current_user.user_accounts.find_by(provider: 'lastfm') %>
    <h4>Last.fm linked!</h4>
<% else %>
    <%= form_for @lastfm_username do |f| %>
        <label>Last.fm</label><br>
        <%= f.text_field :username, placeholder: "Last.fm username" %>
        <%= f.hidden_field :provider, value: 'lastfm' %>
        <%= f.submit 'Import' %>
    <% end %>
<% end %>

<br><br>

<%= link_to 'Next (User Profile?)', new_profile_path %>

<br><br>
