<h1>Browse Artists</h1>

<br>

<% @artists.each do |a| %>
<% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row images"><% end %>
<div class="col-sm-3 image-box" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover', 'background-position':'center'}">
    <div class="image-panel">
        <%= link_to truncate(a.name, length: 18), artist_path(a), class: 'image-name' %>
        <div class="image-ctrl">
            <%= link_to (fa_icon 'volume-up'), artist_path(a) %>&nbsp;
            <% if current_artists.include? a %>
                <%= link_to (fa_icon 'heart'), artist_user_artist_path(a.id, current_user), method: :delete %>
            <% else %>
                <%= form_for [a, @add_artist] do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :artist_id, value: a.id %>
                    <%= f.hidden_field :provider, value: 'provider' %>
                    <%= button_tag type: 'submit' do %>
                        <%= fa_icon 'heart' %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<% if (@artists.index(a)+1) % 5 == 0 || @artists.index(a) == @artists.count - 1 %></div><% end %>
<% end %>

<br><br>
