<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>
<%= link_to "Add new favorite artist", new_artist_path %>
<% @artists.each do |artist| %>
<li><%= artist.name %>
	<% unless current_artists.include?(artist) %>
		<%= link_to " + Artist", artist_user_artists_path(artist.id), method: :post %></li>
	<% else %>
		<%= link_to "Remove from collection", artist_user_artist_path(artist.id, current_user), method: :delete %></li>
	<% end %>
<% end %>

<% @artists.each do |a| %>
<% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row artists"><% end %>
    <a href="<%= artist_path(a) %>">

        <div class="col-sm-3 artist-image" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover', 'background-position':'center'}">
    
            <div class="artist-title">
                <p><%= a.name %></p>
            </div>

        </div>

    </a>
<% if (@artists.index(a)+1) % 5 == 0 || @artists.index(a) == @artists.count - 1 %></div><% end %>
<% end %>