<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>


<h1>Sign Up</h1>
<br>
<%= form_for @user do |f| %>

    <%= f.text_field :name, placeholder: 'First and Last Name', class: 'form-control' %>
    <%= f.email_field :email, placeholder: 'Email Address', class: 'form-control' %>
    <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
    <%= f.password_field :password_confirmation, placeholder: 'Retype Password', class: 'form-control' %>
    <%= f.hidden_field :provider, value: 'mixnmatch' %>
    <br>
    <%= f.submit 'Sign Up', class: 'btn btn-primary' %>

<% end %>
