<h1>Sign Up</h1>
<br>
<%= form_for @user do |f| %>

    <%= f.text_field :name, placeholder: 'First and Last Name', class: 'form-control' %>
    <%= f.email_field :email, placeholder: 'Email Address', class: 'form-control' %>
    <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
    <%= f.password_field :password_confirmation, placeholder: 'Retype Password', class: 'form-control' %>
    <%= f.hidden_field :provider, value: 'mixnmatch' %>
    <br>
    <%= f.submit 'Sign Up', class: 'btn btn-primary' %>

<% end %>

<br><br>

<p>or signup via Facebook</p>

<a href="/auth/facebook" id="sign_in"><img src="http://2.bp.blogspot.com/-M_AWtMw64HI/Ud9gdzCUNBI/AAAAAAAAAVM/EExpNNQMFI4/s1600/button1.png" style="height:35px;"></a>

<br><br>

<p>Already a member?</p>
<p><a data-toggle="modal" data-target="#login" style="cursor: pointer;">Log In!</a></p>
