<div class="row">

<div class="col-md-9">


<div class="row profile-head">

    <div class="col-md-3">
        <div class="avatar" ng-style="{'background-image':'url(<%= @user.avatar %>)', 'background-size':'cover', 'background-position':'center'}"></div>
    </div>

    <div class="col-md-9">
        <h1><%= @profile.username %></h1>
        <p>
            <%= @profile.age(@user) %> / <%= @profile.gender.first %> / <%= @profile.zipcode %>
            <% if current_user.id == @user.id %>
                &nbsp; <%= link_to (fa_icon 'pencil'), edit_profile_path(@profile) %>
            <% end %>
        </p>
        <p><%= @profile.summary %></p>
    </div>

</div>



<br><br>

<% if @artists.count > 0 %>

    <% @artists.each do |a| %>
    <% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row artists"><% end %>
    <a href="<%= artist_path(a) %>">
        <div class="col-sm-3 artist-image" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover', 'background-position':'center'}">
            <div class="artist-title">
                <h3 class="artist-name"><%= a.name %></h3>
            </div>
        </div>
    </a>
    <% if (@artists.index(a)+1) % 5 == 0 %></div><% end %>
    <% end %>

<% else %>
    
    <% if current_user == @user %>
        <%= link_to 'Import artists', accounts_path %>
    <% else %>
        <p><%= @profile.username %> has no artists</p>
    <% end %>

<% end %>

</div> <!-- end col-md-7 -->





<div class="col-md-3 test2 profile-side">
    <h1>Match %</h1>
    Your match results with this user: <%= @love_results %>

    <h1>Like to Message</h1>
    <h1>MESSAGES</h1>


    <h3>Orientation</h3>
    <p><%= @profile.orientation %> <%= @profile.gender %></p>

    <h3>Birthday</h3>
    <p><%= @profile.birthday.strftime(' %B %d, %Y') %></p>


    <h3>Looking for</h3>
    <% if @profile.relationship && @profile.friendship %>
        <p>Relationship & Friendship</p>
    <% elsif @profile.relationship %>
        <p>Relationship</p>
    <% elsif @profile.friendship %>
        <p>Friendship</p>
    <% else %>
        <p>What?</p>
    <% end %>


</div> <!-- end col-md-4 -->


</div>


<br><br><br>
