<div class="row">

<div class="col-md-9">


<div class="row profile-head">

    <div class="col-md-3">
        <div class="avatar" ng-style="{'background-image':'url(<%= @user.avatar %>)', 'background-size':'cover', 'background-position':'center'}"></div>
    </div>

    <div class="col-md-9">
        <h1><%= @profile.username %></h1>
        <p>
            <%= @profile.age(@user) %> / <%= @profile.gender.first %> / <%= @profile.zipcode %>
            <% if current_user.id == @user.id %>
                &nbsp; <%= link_to (fa_icon 'pencil'), edit_profile_path(@profile) %>
            <% end %>
        </p>
        <p><%= @profile.summary %></p>
    </div>

</div>



<br><br>

<% if @artists.count > 0 %>

    <% @artists.each do |a| %>
    <% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row artists"><% end %>
    <div class="col-sm-3 artist-image" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover', 'background-position':'center'}">
        <div class="artist-panel">
            <%= link_to truncate(a.name, length: 15), artist_path(a), class: 'artist-name' %>
            <div class="artist-ctrl">
                <%= link_to (fa_icon 'volume-up'), artist_path(a) %>&nbsp;
                <% if current_artists.include? a %>
                    <%= link_to (fa_icon 'heart'), artist_user_artist_path(a.id, current_user), method: :delete %>
                <% else %>
                    <%= form_for [a, @add_artist] do |f| %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :artist_id, value: a.id %>
                        <%= f.hidden_field :provider, value: 'provider' %>
                        <%= button_tag type: 'submit' do %>
                            <%= fa_icon 'heart' %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <% if (@artists.index(a)+1) % 5 == 0 || @artists.index(a) == @artists.count - 1 %></div><% end %>
    <% end %>

<% else %>
    
    <% if current_user == @user %>
        <%= link_to 'Import artists', accounts_path %>
    <% else %>
        <p><%= @profile.username %> has no artists</p>
    <% end %>

<% end %>

</div> <!-- end col-md-7 -->





<div class="col-md-3 test2 profile-side">
    <h1>Match <%= @match_percent %>%</h1>

    <% unless current_user == @user %>
        <%= form_for @match do |f| %>
            <%= f.hidden_field :matcher_id, :value => current_user.id %>
            <%= f.hidden_field :matchee_id, :value => @user.id %>
            <%= f.hidden_field :status, :value => "requested" %>
            <%= f.submit "Request to Chat", class: 'btn btn-primary' %>
        <% end %>
    <% end %>

    <h1>Like to Message</h1>
    <h1>MESSAGES</h1>


    <h3>Orientation</h3>
    <p><%= @profile.orientation %> <%= @profile.gender %></p>

    <h3>Birthday</h3>
    <p><%= @profile.birthday.strftime(' %B %d, %Y') %></p>


    <h3>Looking for</h3>
    <% if @profile.relationship && @profile.friendship %>
        <p>Relationship & Friendship</p>
    <% elsif @profile.relationship %>
        <p>Relationship</p>
    <% elsif @profile.friendship %>
        <p>Friendship</p>
    <% else %>
        <p>What?</p>
    <% end %>


</div> <!-- end col-md-4 -->


</div>


<br><br><br>
