<h2>Testing</h2>

<div class="row">

<div class="col-md-7 test">

<h1><%= @user.name %></h1>
<% if @profile %>

    <!-- if you are viewing your own page you can edit your profile -->
    <% if current_user.id == @user.id %>
        <%= link_to "Edit your profile", edit_profile_path(@profile), class: "pull-right" %>
    <% end %>

    <!-- profile info -->
    Age: <%= @profile.age(@user) %><br />
    Bio: <%= @profile.summary %><br />
    Birthday: <%= @profile.birthday.strftime(' %B %d, %Y') %>
    <%= @profile.is_birthday(@user, current_user) %><br />
    <%= @profile.orientation %> <%= @profile.gender %><br>
    <%= @profile.zipcode %>

    <br><br>

    <% if @profile.relationship && @profile.friendship %>
        Looking for a relationship and friendship
    <% elsif @profile.relationship %>
        Looking for a relationship
    <% elsif @profile.friendship %>
        Looking for friendship
    <% else %>
        What?
    <% end %>
    
<% else %>

    <% if current_user.id == @user.id %>
        <!-- if you are viewing your own page you can set up your profile -->
        <%= link_to "Empty profile... set it up!", new_profile_path %>
    <% else %>

        <!-- Default message to other users if no profile exists -->
        This user just joined the site and has not yet set up their profile. <br>
        Send them a message!

    <% end %>

<% end %>

<br><br>

<% @artists.each do |a| %>
<% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row"><% end %>
    <a href="<%= artist_path(a) %>">

        <div class="col-sm-3 artist-image" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover'}">

            <div class="artist-title">
                <h3 class="artist-name"><%= a.name %></h3>
            </div>

        </div>

    </a>
<% if (@artists.index(a)+1) % 5 == 0 %></div><% end %>
<% end %>

</div>

<div class="col-md-4 col-md-offset-1 test">
    <h1>Match %</h1>
</div>


</div>


<br><br>