<%= link_to 'Sign in with Spotify', '/auth/spotify' %>


<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= current_user.inspect %>
    <%= link_to "Sign out", signout_path, id: "sign_out" %><br>Music:<br>
    <%= current_user.uid %>
    spotify_user: <%= @spotify_user %><%= UserAccount.where(user: current_user).first.inspect %>
    <% if @music %>
      <%= link_to "Next", @music["paging"]["next"] %>
      <%= @music["data"].each do |band|  %>
        <li><%= band["name"] %></li>
      <% end %><br>
      <%= link_to "Previous", @music["paging"]["previous"] %>
    <% end %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

