<div id="fb-root"></div>

<div id="user-widget"></div>

Welcome <strong><%= current_user.name %></strong>!

<% if current_user.profiles.first.nil? %>
    <!-- if you are viewing your own page you can set up your profile -->
    <%= link_to "Empty profile... set it up!", new_profile_path %>
<% end %>

<br><br>


<% @artists.each do |a| %>
<% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row artists"><% end %>
    <a href="<%= artist_path(a) %>">

        <div class="col-sm-3 artist-image" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover', 'background-position':'center'}">

            <div class="artist-title">
                <p><%= a.name %></p>
            </div>

        </div>

    </a>
<% if (@artists.index(a)+1) % 5 == 0 || @artists.index(a) == @artists.count - 1 %></div><% end %>
<% end %>
  

<br><br><br>

