<a href="https://accounts.spotify.com/authorize/?client_id=<%= ENV['SP_CLIENT_ID'] %>&response_type=code&redirect_uri=https%3A%2F%2Fexample.com%2Fcallback&scope=user-read-private%20user-read-email&state=profile%2Factivity">Log into Spotify</a>


<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
Music: <%= @music%>
url: <%= @spotify %>