<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!<br>
    <%#= current_user.inspect %><br><%= image_tag current_user.avatar, size: "100" if current_user.avatar %>
    <div class="row">
      <% current_artists.each do |artist| %>
        <div class="col-md-1 artist-box text-center">
          <b><%= link_to artist.name, artist_path(artist) %></b><br/>
          <% UserArtist.where(user: current_user, artist: artist).each do |artist| %>
            <%= artist.provider %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
     <a href="/auth/facebook" id="sign_in"><img src="http://2.bp.blogspot.com/-M_AWtMw64HI/Ud9gdzCUNBI/AAAAAAAAAVM/EExpNNQMFI4/s1600/button1.png" style="height:35px;"></a>
  <% end %>
</div>
<%= link_to 'Monitoring', sidekiq_web_path %>
