<div class="row">

<div class="col-md-9">

<!-- Match Requests -->
<% unless @matches.count == 0 %>
    <h3>Match Requests</h3>
    <% @matches.each do |m| %>
    <% if @matches.index(m) == 0 || @matches.index(m) % 5 == 0 %><div class="row images"><% end %>
    <% profile = Profile.where(user_id: m.matcher_id).first %>
    <div class="col-sm-3 image-box" ng-style="{'background-image':'url(<%= profile.user.avatar %>)', 'background-size':'cover', 'background-position':'center'}">
        <div class="image-panel">
            <%= link_to profile.username, user_path(profile.username), class: 'image-name' %>
            <div class="image-ctrl">
                <%= form_for m do |f| %>
                    <%= f.hidden_field :status, value: 'accepted' %>
                    <%= button_tag type: 'submit' do %>
                        <%= fa_icon 'check' %>
                    <% end %>
                <% end %>
                <%= form_for m do |f| %>
                    <%= f.hidden_field :status, value: 'block' %>
                    <%= button_tag type: 'submit' do %>
                        <%= fa_icon 'times' %>
                    <% end %>&nbsp;
                <% end %>
            </div>
        </div>
    </div>
    <% if (@matches.index(m)+1) % 5 == 0 || @matches.index(m) == @matches.count - 1 %></div><% end %>
    <% end %>
    <hr>
<% end %>

<!-- Filter Options -->
<div class="filter">
    <h3>Find People</h3>
    <!-- <p><strong>Filter: </strong> {{filterItem.choice.name}}</p> -->
    <label>Filter</label>
    <select class="form-control" ng-model="filterItem.choice" ng-options="m.name for m in option.choices"></select>
    &nbsp;
    <label>Min Age</label>
    <select class="form-control" ng-model="filterAgemin.choice" ng-options="m.age for m in ageminoption.choices"></select>
    &nbsp;
    <label>Max Age</label>
    <select class="form-control" ng-model="filterAgemax.choice" ng-options="m.age for m in agemaxoption.choices"></select>
    &nbsp;
    <label>Distance</label>
    <select class="form-control" ng-model="filterDistance.choice" ng-options="m.name for m in distanceOption.choices"></select>
    <br>
</div>

<!-- Filter Results -->
<div class="row images" ng-repeat="match in (matches.length/5 | row)">
    <div class="col-md-3 image-box" ng-repeat="match in matches.slice(5*$index, 5*$index + 5) | filter:orientationFilter | filter:ageminFilter | filter:agemaxFilter" ng-style="{'background-image':'url({{ match[0].avatar }})', 'background-size':'cover', 'background-position':'center'}" ng-hide="{{ match[0].id }} == <%= current_user.id %>">
        <div class="image-panel">
            <div class="image-name">
                <a ng-href="/users/{{ match[1][1].username }}">
                    {{ match[1][1].username }}
                </a>
            </div>
            <div class="image-ctrl">
                {{ match[1][0] }}%
            </div>
        </div>
    </div>
</div>

</div> <!-- end col-md-9 -->


<div class="col-md-3 profile-side">

    <div class="preferences">

        <h3>Conversations</h3>

        <% @accepted.each do |m| %>
            <% @name = Profile.where(user_id: m.matcher_id).first.username %>
            <h4>&nbsp;<%= fa_icon 'minus' %>&nbsp; <%= link_to @name, match_path(m) %> <%= link_to (fa_icon 'comment'), match_path(m) %></h4>
        <% end %>

        <% @accepted2.each do |m| %>
            <% @name = Profile.where(user_id: m.matchee_id).first.username %>
            <h4>&nbsp;<%= fa_icon 'minus' %>&nbsp; <%= link_to @name, match_path(m) %> <%= link_to (fa_icon 'comment'), match_path(m) %></h4>
        <% end %>

    </div>

</div> <!-- end col-md-4 -->


</div> <!-- end row -->


<br><br><br>
















