<%# if current_user.profiles.first.nil? %>
    <!-- if you are viewing your own page you can set up your profile -->
    <%#= link_to "Empty profile... set it up!", new_profile_path %>
<%# end %>

<h1>MixnMatch!</h1>

<br>

<h3>Your Match Requests:</h3>

<% if @matches.count > 0 %>
    <% @matches.each do |m| %>
    <% if @matches.index(m) == 0 || @matches.index(m) % 5 == 0 %><div class="row images"><% end %>
    <% profile = Profile.where(user_id: m.matcher_id).first %>
    <div class="col-sm-3 image-box" ng-style="{'background-image':'url(<%= profile.user.avatar %>)', 'background-size':'cover', 'background-position':'center'}">
        <div class="image-panel">
            <%= link_to profile.username, user_path(profile.username), class: 'image-name' %>
            <div class="image-ctrl">
                <%= form_for m do |f| %>
                    <%= f.hidden_field :status, value: 'accepted' %>
                    <%= button_tag type: 'submit' do %>
                        <%= fa_icon 'check' %>
                    <% end %>
                <% end %>
                <%= form_for m do |f| %>
                    <%= f.hidden_field :status, value: 'block' %>
                    <%= button_tag type: 'submit' do %>
                        <%= fa_icon 'times' %>
                    <% end %>&nbsp;
                <% end %>
            </div>
        </div>
    </div>
    <% if (@matches.index(m)+1) % 5 == 0 || @matches.index(m) == @matches.count - 1 %></div><% end %>
    <% end %>
<% else %>
    <p>Sorry, no new requests today.</p>
<% end %>



<br><br>




Your Conversations:

<% @accepted.each do |m| %>

<% @name = Profile.where(user_id: m.matcher_id).first.username %>
    <%= @name %>
    <%= link_to "VIEW PROFILE", user_path(@name) %> 
    <%= link_to "Chat", match_path(m) %> 
<% end %>

<% @accepted2.each do |m| %>
    <% @name = Profile.where(user_id: m.matcher_id).first.username %>
    <%= @name %>
    <%= link_to "VIEW PROFILE", user_path(@name) %> 
    <%= link_to "Chat", match_path(m) %> 
<% end %>





<br><br>



<label>Show Me</label>
<select ng-model="filterItem.choice" ng-options="m.name for m in option.choices"></select>

<label>Min. Age</label>
<select ng-model="filterAgemin.choice" ng-options="m.age for m in ageminoption.choices"></select>

<label>Max Age</label>
<select ng-model="filterAgemax.choice" ng-options="m.age for m in agemaxoption.choices"></select>

<p><strong>Selected Preference: </strong> {{filterItem.choice.name}}</p>





<div class="row images" ng-repeat="match in (matches.length/5 | row)">
    <div class="col-md-3 image-box" ng-repeat="match in matches.slice(5*$index, 5*$index + 5) | filter:orientationFilter | filter:ageminFilter | filter:agemaxFilter" ng-style="{'background-image':'url({{ match[0].avatar }})', 'background-size':'cover', 'background-position':'center'}" ng-hide="{{ match[0].id }} == <%= current_user.id %>">
        <div class="image-panel">
            <div class="image-name">
                <a ng-href="/users/{{ match[1][1].username }}">
                    {{ match[1][1].username }}
                </a>
            </div>
            <div class="image-ctrl">
                {{ match[1][2] }} / {{ match[1][1].gender[0] }} / {{ match[1][0] }}%
            </div>
        </div>
    </div>
</div>




<br><br><br><br>



  

<br><br><br>

