<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!<br>
    <%#= current_user.inspect %> <%#= image_tag current_user.avatar %>
    <%= link_to "Sign out", signout_path, id: "sign_out" %><br>Music:<br>
    <%= current_user.uid %><br>
    spotify_user: <%= UserAccount.where(user: current_user, provider: "spotify").first %>
    <% current_artists.each do |artist| %>
      <li>
        <b><%= artist.name %></b>
        <br>
        <%= image_tag artist.genre %>
        <br>
        <% UserArtist.where(user: current_user, artist: artist).each do |artist| %>
          <%= artist.provider %>
        <% end %>
      </li>
    <% end %>
  <% else %>
     <a href="/auth/facebook" id="sign_in"><img src="http://2.bp.blogspot.com/-M_AWtMw64HI/Ud9gdzCUNBI/AAAAAAAAAVM/EExpNNQMFI4/s1600/button1.png" style="height:35px;"></a>
  <% end %>
</div>
<%= link_to 'Monitoring', sidekiq_web_path %>
