<%# if current_user.profiles.first.nil? %>
    <!-- if you are viewing your own page you can set up your profile -->
    <%#= link_to "Empty profile... set it up!", new_profile_path %>
<%# end %>

<br><br>



<label>Show Me</label>
<select ng-model="filterItem.choice" ng-options="m.name for m in option.choices"></select>

<label>Min. Age</label>
<select ng-model="filterAgemin.choice" ng-options="m.age for m in ageminoption.choices"></select>

<label>Max Age</label>
<select ng-model="filterAgemax.choice" ng-options="m.age for m in agemaxoption.choices"></select>

<p><strong>Selected Preference: </strong> {{filterItem.choice.name}}</p>


<div ng-repeat="match in matches | filter:orientationFilter | filter:ageminFilter | filter:agemaxFilter" >

    <strong>Name:</strong> {{match[0].name}}  ( <strong>Age:</strong> {{ match[1][2] }} )
    <br>

    <strong> Matches:</strong> {{match[1][0]}}

    <br>
    <br>







</div>



<div class="row" data-ng-repeat="match in (matches.length/5 | row)">

    <div class="col-md-3" data-ng-repeat="match in matches.slice(5*$index, 5*$index + 5) | filter:orientationFilter | filter:ageminFilter | filter:agemaxFilter">

        <div class="artist-image" ng-style="{'background-image':'url({{ match[0].avatar }})', 'background-size':'cover', 'background-position':'center'}">
            
            <div class="artist-panel">
            alkseflaksneflkn
            </div>

        </div>

    </div>

</div>


<div class="col-sm-3 artist-image" ng-style="{'background-image':'url({{ match[0].avatar }})', 'background-size':'cover', 'background-position':'center'}">
    <div class="artist-panel">
        <div class="artist-ctrl"></div>
    </div>
</div>










<br><br><br><br>

Your Match Requests:
<% @matches.each do |m| %>
    <li>
        <% @name = Profile.where(user_id: m.matcher_id).first.username %>
        <%= @name %>

        <%= link_to "VIEW PROFILE", user_path(@name) %>
        
        <%= form_for m do |f| %>
            <%= f.hidden_field :status, :value => "accepted" %>
            <%= f.submit "Accept Request" %>
        <% end %>

        <%= form_for m do |f| %>
            <%= f.hidden_field :status, :value => "block" %>
            <%= f.submit "Block Request" %>
        <% end %>
    </li>
<% end %>



<br><br>




Your Conversations:

<% @accepted.each do |m| %>

<% @name = Profile.where(user_id: m.matcher_id).first.username %>
    <%= @name %>
    <%= link_to "VIEW PROFILE", user_path(@name) %> 
    <%= link_to "Chat", match_path(m) %> 
<% end %>

<% @accepted2.each do |m| %>
    <% @name = Profile.where(user_id: m.matcher_id).first.username %>
    <%= @name %>
    <%= link_to "VIEW PROFILE", user_path(@name) %> 
    <%= link_to "Chat", match_path(m) %> 
<% end %>





<br><br>


<% @artists.each do |a| %>
<% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row artists"><% end %>
<div class="col-sm-3 artist-image" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover', 'background-position':'center'}">
    <div class="artist-panel">
        <%= link_to truncate(a.name, length: 18), artist_path(a), class: 'artist-name' %>
        <div class="artist-ctrl">
            <%= link_to (fa_icon 'volume-up'), artist_path(a) %>&nbsp;
            <% if current_artists.include? a %>
                <%= link_to (fa_icon 'heart'), artist_user_artist_path(a.id, current_user), method: :delete %>
            <% else %>
                <%= form_for [a, @add_artist] do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :artist_id, value: a.id %>
                    <%= f.hidden_field :provider, value: 'provider' %>
                    <%= button_tag type: 'submit' do %>
                        <%= fa_icon 'heart' %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<% if (@artists.index(a)+1) % 5 == 0 || @artists.index(a) == @artists.count - 1 %></div><% end %>
<% end %>
  

<br><br><br>

