<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=676734455755914&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div id="user-widget"></div>

Welcome <strong><%= current_user.name %></strong>!
<br><br>
<%= image_tag current_user.avatar, size: "100" if current_user.avatar %>

<div class="fb-like" data-href="https://developers.facebook.com/mixnmatch" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<br><br>


<% @artists.each do |a| %>
<% if @artists.index(a) == 0 || @artists.index(a) % 5 == 0 %><div class="row"><% end %>
    <a href="<%= artist_path(a) %>">

        <div class="col-sm-3 artist-image" ng-style="{'background-image':'url(<%= a.image %>)', 'background-size':'cover'}">

            <div class="artist-title">
                <h3 class="artist-name"><%= a.name %></h3>
            </div>

        </div>

    </a>
<% if (@artists.index(a)+1) % 5 == 0 %></div><% end %>
<% end %>
  

<br><br>
