<p ng-init="zipcode = <%= @profile.zipcode %>"></p>

  <label>Show Me</label>
   <select ng-model="filterItem.choice" ng-options="m.name for m in option.choices">
    </select>
    <label>Min. Age</label>
     <select ng-model="filterAgemin.choice" ng-options="m.age for m in ageminoption.choices">
    </select>
    <label>Max Age</label>
    <select ng-model="filterAgemax.choice" ng-options="m.age for m in agemaxoption.choices">
    </select>
    <label>Distance From You</label>
    <select ng-model="filterDistance.choice" ng-options="m.name for m in distanceOption.choices">
    </select>

    <p>
      <strong>Selected Preference: </strong> {{filterItem.choice.name}}
    </p>

<div ng-repeat="match in finalMatches | filter:orientationFilter | filter:ageminFilter | filter:agemaxFilter | filter:distanceFilter" >
  <li><strong>Name:</strong> {{match[0].name}} <strong> Matches:</strong> {{match[1][0]}} : <strong>Age:</strong> {{ match[1][2] }} <strong>Distance:</strong> {{ match[2] }} miles away : <strong> <a ng-href="http://localhost:3000/users/{{match[1][1].username}}">View Profile</a></strong></li>
</div>


<br>

Your Match Requests:
<% @matches.each do |m| %>
  <li><% @name = Profile.where(user_id: m.matcher_id).first.username %>
  <%= @name %>
  <%= link_to "VIEW PROFILE", user_path(@name) %> 
  <%= form_for m do |f| %>
    <%= f.hidden_field :status, :value => "accepted" %>
    <%= f.submit "Accept Request" %>
  <% end %>
  <%= form_for m do |f| %>
    <%= f.hidden_field :status, :value => "block" %>
    <%= f.submit "Block Request" %> </li>
  <% end %>
<% end %>
<br>  
Your Conversations:

<% @accepted.each do |m| %>
<% @name = Profile.where(user_id: m.matcher_id).first.username %>
  <%= @name %>
  <%= link_to "VIEW PROFILE", user_path(@name) %> 
  <%= link_to "Chat", match_path(m) %> 
<% @last_message = Message.where(match_id: m.id).last.name %>
  <% if @last_message != current_user.name %>
     <%= "You're the best" %>
    <% end %> 
<% end %>
<% @accepted2.each do |m| %>
<% @name = Profile.where(user_id: m.matchee_id).first.username %>
  <%= @name %>
  <%= link_to "VIEW PROFILE", user_path(@name) %> 
  <%= link_to "Chat", match_path(m) %> 
  <% @last_message = Message.where(match_id: m.id).last.name %>
  <% if @last_message != current_user.name %>
    <%= "You're the best" %>
    <% end %> 
<% end %>




    
   