<!DOCTYPE html>
    <html data-ng-app="MnMApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MixnMatch</title>
        <meta name="description" content="MixnMatch Project 4.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body class="<%= params[:controller] %>_controller" data-ng-controller="MnMCtrl">

        <!-- Content -->
        <div class="container">
            <%= yield %>
        </div>

    </body>
</html>
